# -*- mode: snippet -*-
# name: new-day
# key: ,d
# --


* `(format-time-string "%A, %B %d, %Y")`
** AI Summary
*** Since last entry (from Glean)
$1
*** Priority agenda items
$2

** Meetings

** Summary
*** Fun fact
$3

*** Since last update
$4

*** Today
$5

*** Blocked
$6