# -*- mode: snippet -*-
# name: new-day
# key: ,d
# --


* `(format-time-string "%A, %B %d, %Y")`
** AI Summary
*** Weather conditions
$1
*** Since last entry (from Glean)
$2
*** Completed tasks
$3
*** Priority agenda items
$4

** Meetings

** Summary
*** Fun fact
$5

*** Since last update
$6

*** Today
$7

*** Blocked
$8