# -*- mode: snippet -*-
# name: new-day
# key: ,d
# --


* `(format-time-string "%A, %B %d, %Y")`
** AI Summary
*** Since last entry (from Glean)
$1
*** Completed tasks
$2
*** Priority agenda items
$3

** Meetings

** Summary
*** Fun fact
$4

*** Since last update
$5

*** Today
$6

*** Blocked
$7