[submodule "async-http-queue"]
	path = lib/drones/async-http-queue
	url = https://git.andros.dev/andros/async-http-queue-el.git
[submodule "emojify"]
	path = lib/drones/emojify
	url = https://github.com/iqbalansari/emacs-emojify.git
[submodule "evil-org-mode"]
	path = lib/drones/evil-org-mode
	url = https://github.com/Somelauw/evil-org-mode.git
	ignore = untracked
[submodule "ghostel"]
	path = lib/drones/ghostel
	url = https://github.com/dakra/ghostel.git
[submodule "lib/aero-theme"]
	path = lib/aero-theme
	url = git@github.com:thornjad/aero-theme.git
[submodule "lib/borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
	ignore = untracked
[submodule "lib/straight.el"]
	path = lib/straight.el
	url = https://github.com/radian-software/straight.el.git
[submodule "org-social"]
	path = lib/drones/org-social
	url = https://github.com/tanrax/org-social.el.git
[submodule "request"]
	path = lib/drones/request
	url = https://github.com/tkf/emacs-request.git
