[submodule "lib/aero-theme"]
	path = lib/aero-theme
	url = git@github.com:thornjad/aero-theme.git
[submodule "lib/straight.el"]
	path = lib/straight.el
	url = https://github.com/radian-software/straight.el.git
[submodule "lib/borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
	ignore = untracked
